<?xml version="1.0" encoding="UTF-8"?>

<!-- copied from https://github.com/Seldaek/monolog/blob/master/phpunit.xml.dist -->
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="GitDataRepo Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
